<div class="container-fluid">
  <div class="row">
    <div class="col-11">

    </div>
    <div class="col-1">
      <button routerLink="/dashboard/meter/new" class="btn btn-primary">Add</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Name</th>
            <th scope="col">Created On</th>
            <th scope="col">
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let meter of meters; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{meter.name}}</td>
            <td>{{meter.created_on | date}}</td>
            <td>
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Actions</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button (click)="editProperty(property)" ngbDropdownItem>Edit</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
