<div class="container-fluid">
  <div class="row">
    <div class="col-11">

    </div>
    <div class="col-1">
      <button routerLink="/dashboard/tenent/new" class="btn btn-primary">Add</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Name</th>
            <th scope="col">Monthly Rent</th>
            <th scope="col">Security Deposit</th>
            <th scope="col">Tenure Start</th>
            <th scope="col">Tenure End</th>
            <th scope="col">

            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tenent of tenents; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{tenent.name}}</td>
            <td *ngIf="tenent.tenent_properties.monthly_rent">{{tenent.tenent_properties.monthly_rent}}</td>
            <td *ngIf="!tenent.tenent_properties.monthly_rent">0</td>
            <td *ngIf="tenent.tenent_properties.security_deposit">{{tenent.tenent_properties.security_deposit}}</td>
            <td *ngIf="!tenent.tenent_properties.security_deposit">0</td>
            <td *ngIf="tenent.tenent_properties.tenure_start">{{tenent.tenent_properties.tenure_start | date}}</td>
            <td *ngIf="!tenent.tenent_properties.tenure_start">-</td>
            <td *ngIf="tenent.tenent_properties.tenure_end">{{tenent.tenent_properties.tenure_end | date}}</td>
            <td *ngIf="!tenent.tenent_properties.tenure_end">-</td>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Actions
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="editTenent(tenent)">Edit</a>
                  <a class="dropdown-item" (click)="updateTenent(tenent)" data-toggle="modal"
                    data-target="#paymentModal">New Payment</a>
                  <a class="dropdown-item" (click)="updateTenent(tenent)" data-toggle="modal"
                    data-target="#readingModal">New Reading</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Reading</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form>
            <div class="form-row">
              <div class="form-group col-md-5">
                <mat-form-field>
                  <input [(ngModel)]="new_payment.paid_on" name="paid_on" matInput [matDatepicker]="picker"
                    placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-5">
                <label for="">Amount</label>
                <input class="form-control" [(ngModel)]="new_payment.amount" type="number" name="amount">
              </div>
            </div>
            <div class="form-row">
              <label for="">Remarks</label>
              <textarea name="remarks" class="form-control" [(ngModel)]="new_payment.remarks" cols="30"
                rows="5"></textarea>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="rentPaid()" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="readingModal" tabindex="-1" role="dialog" aria-labelledby="readingModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Reading</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form>
            <div class="form-row">
              <div class="form-group col-md-5">
                <mat-form-field>
                  <input [(ngModel)]="new_reading.taken_on" name="taken_on" matInput [matDatepicker]="reading_picker"
                    placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="reading_picker"></mat-datepicker-toggle>
                  <mat-datepicker #reading_picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-5">
                <label for="">Reading</label>
                <input [(ngModel)]="new_reading.reading" type="number" name="amount">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="newReading()" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>