<div class="container-fluid">
  <div class="row">
    <h2>Add New Property</h2>
  </div>
  <div class="row">
    <div class="container-fluid">
      <form>
        <div class="form-row">
          <div class="form-group">
            <label for="">Name</label>
            <input [(ngModel)]="property.name" name="name" type="text" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input [(ngModel)]="property.address1" name="address1" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input [(ngModel)]="property.address2" name="address2" type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputCity">City</label>
            <input [(ngModel)]="property.city" name="city" type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-3">
            <label for="inputState">State</label>
            <input [(ngModel)]="property.state" name="state" type="text" class="form-control" id="inputState">
          </div>
          <div class="form-group col-md-3">
            <label for="inputCountry">Country</label>
            <input [(ngModel)]="property.country" name="country" type="text" class="form-control" id="inputCountry">
          </div>
          <div class="form-group col-md-3">
            <label for="inputZip">Zip</label>
            <input [(ngModel)]="property.pincode" name="pincode" type="text" class="form-control" id="inputZip">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <button routerLink="/dashboard/property" class="btn btn-primary">Cancel</button>
          </div>
          <div class="form-group col-md-2">
            <button [disabled]="!validatePropertyData()" (click)="newProperty()" type="submit" class="btn btn-primary">Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>