<div class="container-fluid">
  <div class="row">
    <div class="col-11">

    </div>
    <div class="col-1">
      <button routerLink="/dashboard/property/new" class="btn btn-primary">Add</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Name</th>
            <th scope="col">Tenent</th>
            <th scope="col">Created On</th>
            <th scope="col">
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let property of properties; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{property.name}}</td>
            <td *ngIf="property.tenent.length > 0">
              <div class="container-fluid align-items-center">
                <div *ngFor="let tenent of property.tenent; let j = index" class="row">
                  <div class="col-md-2">
                    <span>{{tenent.name}}</span>
                  </div>
                  <div class="col-md-1 ">
                    <button (click)="updateDeleteModal(property, tenent, i)" data-toggle="modal"
                      data-target="#deleteModal" type="button" class="close" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              </div>
            </td>
            <td *ngIf="property.tenent.length == 0">No Tenent</td>
            <td>{{property.created_on | date}}</td>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Actions
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="editProperty(property)">Edit</a>
                  <a class="dropdown-item" (click)="updateTenentData(property, i)" data-toggle="modal"
                    data-target="#paymentModal">Assign Tenent</a>
                  <a class="dropdown-item">Something else here</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Assign Tenent</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form>
            <div class="form-row">
              <div class="form-group col-md-5">
                <label for="">Select Tenent</label>
                <select class="form-control" [(ngModel)]="newTenent.tenent" name="tenent">
                  <option *ngFor="let tenent of tenents" value="{{tenent._id}}">{{tenent.name}}</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button [disabled]="!validateNewTenentData()" (click)="assignTenent()" type="button"
          class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Tenent</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <h3>Are You Sure To Delete This Entry ?</h3>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="deleteTenent()" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>