<div class="container-fluid">
  <div class="row">
    <div class="col-11">

    </div>
    <div class="col-1">
      <button routerLink="/dashboard/property/new" class="btn btn-primary">Add</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Name</th>
            <th scope="col">Created On</th>
            <th scope="col">
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let property of properties; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{property.name}}</td>
            <td>{{property.created_on | date}}</td>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Actions
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="editProperty(property)">Edit</a>
                  <a class="dropdown-item">Another action</a>
                  <a class="dropdown-item">Something else here</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
